backup
input
output
3productions
test
QC_analysis_molds_monthly_v2
input_files
output_files
archive
dataNotSave
developmentPlan
memory
build
dist
python_app_sqlite/Database
python_app_sqlite/main.py
python_app_sqlite/image
python_app_sqlite/README.md
leader
apps/pyqt_sqlite/pyqt-sqlite.py