backup
input
output
3productions
test
input_files
output_files
archive
dataNotSave
developmentPlan
build
dist
first
apps/pyqt_sqlite/ui/mainwindow.ui
apps/pyqt_sqlite/pyqt-sqlite.py
interface2.
Lib

db