backup
input
output
3productions
test
QC_analysis_molds_monthly_v2
input_files
output_files
archive
dataNotSave
developmentPlan
memory
build
dist
first
apps/pyqt_sqlite/ui/mainwindow.ui
apps/pyqt_sqlite/pyqt-sqlite.py
interface2.
Lib
memory/database.ini